<ion-view view-title="CART">
  <ion-content ng-controller="cartlist" class="bg" style="background-image: url('img/bg/billing.png')">
  	<!-- list -->
	<div class="list">
	    <!-- row 1 -->
	    <div class="row border-bottom mb10" ng-repeat="Item in CartInfo.Items">
			<div class="col">
				<div class="row row-center">
					<div class="col col-20">
						<form ng-submit="delete(Item)" class="text-right">
					 		<button type="submit" class="btn-blank"><i class="ion-close-round"></i></button>
						</form>
					</div>
					<div class="col">
						<img class="width100" ng-src="{{img}}{{Item.photo}}">
					</div>
					<div class="col">
						<labe>{{Item.product_name}}</label>
					</div>
				</div>
			</div>
			<div class="col text-right">
				<div class="row">
					<p class="col text-danger">PRICE:</p>
					<p class="col text-danger">MYR {{Item.unit_price}}</p>
				</div>
				<div class="row">
					<p class="col text-danger">QTY:</p>
					<input type="number" class="col text-danger input-box" value="{{Item.qty}}" />
				</div>
				<div class="row bg-grey p0">
					<p class="col text-white m0">SUBTOTAL:</p>
					<p class="col text-white m0">MYR {{Item.price}}</p>
				</div>
			</div>
		</div>
		<!-- row 2 -->
		<div class="row border-bottom border-color">
			<div class="col">
				<div class="row">
					<label class="text-center">HAVE REFERRAL?</label>
				</div>
				<div class="row">
					<label class="b1">
						<input type="text" class="pull-left col-80 p10" ng-keyup="promotion(CartInfo.promo_code)" ng-model="CartInfo.promo_code" placeholder="Referral Code">
						<div class="font-small p10 bg-white">
							<div class="assertive" ng-if="details.code == null"><i class="ion-close"></i></div>
							<div class="balanced" ng-if="details.code != null"><i class="ion-checkmark"></i></div>
						</div> 
					</label>
				</div>
			</div>
			<div class="col text-right text-big">
				<div class="row">
					<p class="col">Total:</p>
	        		<p class="col text-danger"><b>MYR {{CartInfo.total_price}}</b></p>
	        	</div>
			</div>
		</div>
		<!-- row 3 -->
		<div class="row p0">
        	<div class="col-50">
        		<a class="button button-full btn-main m0" ng-href="#/app/categories">Continue Shopping</a>
        	</div>
        	<div class="col-50">
        		<form ng-submit="salesorder(CartInfo)">
					<button ng-disabled="CartInfo.cart_count <= 0" type="submit" class="button button-full btn-sub m0">Check Out</button>
				</form>
        	</div>
		</div>

	</div>
	<!-- end list -->
  </ion-content>
</ion-view>