<ion-view view-title="Categories">

  <ion-content ng-controller="categories">
	
    <div class="row" ng-repeat="productTypeInfo in productTypeList" ng-if="$index % 2 == 0">
	  <div class="col col-50" ng-if="$index < productTypeList.length">
	  	<div class="sbox center">
		  	<img ng-src="{{img}}" width="100%">
		  	<p>{{productTypeList[$index].code}}</p>
		  	<p>{{productTypeList[$index].name}}</p>
	  	</div>
	  </div>
	  <div class="col col-50" ng-if="$index+1 < productTypeList.length">
	  	<div class="sbox center">
		  	<img ng-src="{{img}}" width="100%">
		  	<p>{{productTypeList[$index+1].code}}</p>
		  	<p>{{productTypeList[$index+1].name}}</p>
	  	</div>
	  </div>
	</div>

  </ion-content>

</ion-view>
