<ion-view title="{{ TitleImg }}">
	<!-- tabs -->
	<ion-tabs class="tabs-icon-only tabs-main" delegate-handle="home-tab">
		
		<!-- tab -->
		<ion-tab title="HOME">
			<ion-content>
                <div ng-include src="'templates/includes/categories.list.html'"></div>
			</ion-content>
		</ion-tab>

		<!-- tab -->
		<ion-tab title="SEARCH">
			<ion-content class="bg" style="background-image: url('img/bg/search.png')">
		  		<div ng-include src="'templates/includes/search.list.html'"></div>
			</ion-content>
		</ion-tab>

	</ion-tabs>
</ion-view>