<ion-view view-title="Home">
  <ion-content ng-controller="HomeController">

	<ion-slide-box auto-play="false" does-continue="true">
	  <ion-slide ng-click="nextSlide()">
	  	<!-- First slide -->
	  	<div class="row">
		  	<div class="col col-100">
		  		<img ng-src="{{img[0].src}}">
		  	</div>
		</div>
		<div class="row">
	  		<div class="col col-100">
	  			<div class="card">
		  			<div class="item item-text-wrap item-energized">
		  				I'm Ionic! Hahahha!!
		  			</div>
		  		</div>
	  		</div>
	  	</div>
	  </ion-slide>
	  <ion-slide ng-click="nextSlide()">
	    <div class="box blue"><h1>BLUE</h1></div>
	  </ion-slide>
	  <ion-slide ng-click="nextSlide()">
	     <div class="box yellow"><h1>YELLOW</h1></div>
	  </ion-slide>
	</ion-slide-box>

  </ion-content>
</ion-view>
