<ion-view view-title="Home">
  <ion-content ng-controller="HomeController">

	<ion-slide-box active-slide="1" 
       on-slide-changed="slideHasChanged(index)"
       does-continue="true" auto-play="true" slide-interval="2000">
	  <ion-slide>
		   <img ng-src="{{img[0].src}}" width="100%">
	  </ion-slide>
	  <ion-slide>
			<img ng-src="{{img[1].src}}" width="100%">
	  </ion-slide>
	  <ion-slide>
			<img ng-src="{{img[2].src}}" width="100%">
	  </ion-slide>
	</ion-slide-box>

  </ion-content>
</ion-view>