<ion-modal-view>
  <!-- Header  -->
  <ion-header-bar>
    <div class="title center"><div ng-bind-html="TitleImg"></div></div>
    <div class="buttons">
      <button class="button button-clear button-positive pull-right font-sm" ng-click="closeLogin()"><span class="font-medium" style="color:#fff;"><i class="ion-close"></i></span></button>
    </div>
  </ion-header-bar>

  <!-- tabs -->
  <ion-tabs class="tabs-icon-only tabs-sub2">
    
    <!-- tab -->
    <ion-tab title="LOGIN">
      <ion-content class="bg" style="background-image: url('img/bg/login.png')">
        <div class="mt20" ng-include src="'templates/includes/login.form.html'"></div>
      </ion-content>
    </ion-tab>

    <!-- tab -->
    <ion-tab title="SIGN UP">
      <ion-content class="bg" style="background-image: url('img/bg/login.png')">
          <div class="mt20" ng-include src="'templates/includes/signup.form.html'"></div>
      </ion-content>
    </ion-tab>

  </ion-tabs>

</ion-modal-view>