<ion-view view-title="Order Summary">
  <ion-content ng-controller="ordersummary">

    <div class="row col-header center font-small">
      <div class="col">Product</div>
      <div class="col">Quantity</div>
      <div class="col">Price<br>(MYR)</div>
      <div class="col">Subtotal (MYR)</div>
    </div>

    <div class="row col-bg center col-line font-small" ng-repeat="Item in SalesInfo.Items">
		<div class="col">
			<div>{{Item.product_name}}</div>
			<img class="img-responsive" ng-src="{{img}}{{Item.photo}}" width="100%">
		</div>
		<div class="col">{{Item.qty}}</div>
		<div class="col">{{Item.unit_price}}</div>
		<div class="col text-right">{{Item.price}}</div>
    </div>
   
   	<div class="row mt10 text-right" style="border-width: 1px;border-bottom-style: solid;border-color: #ddd;">
	    <p class="col col-50 ml5 input-label font-medium">Subtotal:</p>
		<div class="col col-50 font-medium" style="color:#3498DB;">{{SalesInfo.sub_total}}</div>
    </div>

   	<form ng-submit="invoice(salesinfo)"> 
		  
		<!-- Row for total  -->
		<div class="row text-right">
			<div class="col col-50">
				<p class="ml5 font-medium">{{SalesInfo.Method.name}}</p>
			</div>
			<div class="col col-50 font-medium">
				<p style="color:#3498DB;">{{SalesInfo.Method.price}}</p>
				<p style="color:#3498DB;">{{SalesInfo.Method.address}}</p>
				<!-- <p style="color:#3498DB;">{{type}}</p> -->
			</div>
		</div>

		<!-- Submit promo code data -->
		<!-- <div class="item item-input">
		    <span class="input-label font-medium">Promo Code:</span>
		    <span>
		    	<input type="text">
		    </span>
		</div>	 -->


        <div class="row mt5 text-right">
			<div class="col col-50">
				<p class="ml5 font-big">Total:</p>
			</div>
			<div class="col col-50">
				<span class="font-big" style="color:#3498DB;">{{SalesInfo.total_price}}
				</span>
			</div>
		</div>

		<!-- Row for confirm button -->
		<div class="row">
			<div class="col">
				<button type="submit" class="button button-block btnCheckOut">Confirm</button>
			</div>
		</div>	
	</form>

  </ion-content>
</ion-view>
