<ion-view view-title="Order History Details">
  <ion-content ng-controller="orderhistorydetails">

    <div class="item item-text-wrap p0">

    	<!-- Table header name -->
	    <div class="row col-header center font-small">
          <div class="col">Product id</div>
          <div class="col">Product name</div>
          <div class="col">Quantity</div>
          <div class="col">Price (MYR)</div>
        </div>

        <!-- Table data -->
        <ul class="list">
			<div class="row col-bg center col-line font-small" style="word-wrap: normal;" ng-repeat="order in orderhistorydetails">
				<div class="col">{{order.id_ProductMaster}}</div>
				<div class="col">{{order.name}}</div>
				<div class="col">{{order.qty}}</div>
				<div class="col">{{order.price|number:2}}</div>
	        </div>	        
		</ul>

		<!-- Total price -->
		<div class="row">
			<div class="col col-33">
				<span class="ml5 pt0 font-medium input-label ">Total:</span>
			</div>
			<div class="col col-67">
				<span class="font-big" style="color:#3498DB;">MYR {{orderhistorydetails[0].total_price|number:2}} </span>
				<span  class="font-medium ml10" style="color:red;">{{orderhistorydetails[0].status}}
				</span>
			</div>
		</div>
	</div>
	<!-- End of listing -->
	
	 <!-- Shipping Info of recipient -->
	 <div class="card">
		<div class="item item-divider font-medium">
			Deliver to
		</div>
		<div class="item item-text-wrap">
			 <label class="item item-input font-medium royal">
        		<span>{{orderhistorydetails[0].given_name}} {{orderhistorydetails[0].family_name}} <br>
        		{{orderhistorydetails[0].phone}} <br>
        		{{orderhistorydetails[0].address}}
        		</span>
      		</label>
		</div>
	</div>

  </ion-content>
</ion-view>