<ion-view view-title="Payment">
  <ion-content class="bg" style="background-image: url('img/bg/billing.png')">
  	
  	<!-- info -->
  	<div class="row bg-default text-center border-bottom">
  		<div class="col"><b>Banking Details</b></div>
  	</div>

	<div class="card border mb0 text-danger mb20">
		<div class="item item-divider bg-grey">
			Please make your payment to following bank
		</div>
		<div class="row font-medium">
			<div class="col col-50">1. Maybank</div>
			<div class="col col-50">131136288888</div>
		</div>
		<div class="row font-medium">
			<div class="col col-50">2. Public Bank</div>
			<div class="col col-50">131136288888</div>
		</div>
		<div class="row font-medium">
			<div class="col col-50">3. RHB Bank</div>
			<div class="col col-50">131136288888</div>
	  	</div>
	</div>

	<!-- info 2 -->
	<div class="row bg-default text-center border-bottom">
  		<div class="col"><b>Notice</b></div>
  	</div>
  	<div class="row">
	  	<p class="p10 font-medium">
		  	You will received a confirmation email shortly. Once you clear your payment, kindly 
		    <span class="text-danger">attach a screenshot or copy of your transaction slip</span>
		     and mail to us at 
		    <span class="text-danger" style="text-decoration: underline;">endytas@wine-enterprise.com</span>. 
		    We will <span class="text-danger">either ship to you</span> 
		    as soon as we received your payment
		    <span class="text-danger"> or you can pickup your goods</span> at the location selected.
	    </p>
  	</div>

  	<div class="text-center">
  	<a href="#/app/category" class="button btn-main m0">Continue Shopping</a>
  	</div>

  </ion-content>
</ion-view>
