<ion-view view-title="Product Details">
  <ion-content ng-controller="productdetails">

    <div class="container">
        <div class="row default-bg">
          <div class="col col-100 center">
            <label>{{productData[0].name}}</label>
          </div>
        </div>
        <div class="row mt5">
          <div class="col col-50 sbox">
              <img ng-src="{{img.src}}">      
          </div>
          <div class="col col-50 center">
              <label class="item item-input">
                <span class="input-label">Price:</span>
                <span class="input-label">MYR {{productData[0].price}}</span>
              </label>
              <label class="item item-input">
                <span class="input-label">Qty:</span>
                <input type="text">
              </label>
              <a class="button button-balanced" ng-href="#/app/cart/list"><i class="ion-android-cart"></i> Add to Cart</a>
          </div>
        </div>
        <!-- Start of the other details -->
          <div class="row mt5 mb5">
            <div class="col col-33 table-header">
              <label class="font-small">SKU Code</label>
            </div>
            <div class="col col-67 table-content">
              <label>{{productData[0].sku_code}}</label>
            </div>
          </div>
        
          <div class="row mb5">
            <div class="col col-33 table-header">
              <label class="font-small">Type</label>
            </div>
            <div class="col col-67 table-content">
              <label>{{productData[0].type}}</label>
            </div>
          </div>

          <div class="row mb5">
            <div class="col col-33 table-header">
              <label class="font-small">Alcohol</label>
            </div>
            <div class="col col-67 table-content">
              <label>{{productData[0].alcohol}}</label>
            </div>
          </div>

          <div class="row mb5">
            <div class="col col-33 table-header">
              <label class="font-small">Size</label>
            </div>
            <div class="col col-67 table-content">
              <label>{{productData[0].size}}</label>
            </div>
          </div>

           <div class="row mb5">
            <div class="col col-33 table-header">
              <label class="font-small">Year</label>
            </div>
            <div class="col col-67 table-content">
              <label>{{productData[0].year}}</label>
            </div>
          </div>

          <div class="row mb5">
            <div class="col col-33 table-header">
              <label class="font-small">Origin</label>
            </div>
            <div class="col col-67 table-content">
              <label>{{productData[0].origin}}</label>
            </div>
          </div>

          <div class="row mb5">
            <div class="col col-33 table-header">
              <label class="font-small">Status</label>
            </div>
            <div class="col col-67 table-content">
              <label>{{productData[0].status}}</label>
            </div>
          </div>

           <div class="row">
              <div class="col col-33 table-header">
                <label class="font-small">Description</label>
              </div>
              <div class="col col col-67 table-content">
                <label>{{productData[0].note}}</label>
              </div>
          </div> 
  
    </div> <!-- end of container-->
  
  </ion-content>
</ion-view>