<ion-view view-title="Product Details">
  <ion-content ng-controller="productdetails">
    
    <div class="row mt20">
      <h2 class="text-main m0auto">{{productDetails.name}}</h2>
    </div>

    <div class="row mt20">
      <div class="m0auto text-center text-big">
        <label>PRICE</label>
        <p>MYR {{productDetails.price}}</p>
      </div>
    </div>

    <div class="row">
      <img ng-src="{{img}}{{productDetails.photo}}" class="m0auto" style="height: 200px;" />
    </div>
    
    <form ng-submit="cart(productDetails)">
      <div class="row row-center p0">
        <div class="col p0">
          <div class="row bg-default">
            <label class="col text-right">Quantity:</label>
            <input class="col" type="number" min="1" ng-model="productDetails.qty" />
          </div>
          <div class="row bg-default">
            <label class="col text-right">Balance:</label>
            <label class="col">{{productDetails.balance}}</label>
          </div>
        </div>
        <div class="col p0 bg-danger">
          <button type="submit" ng-show="productDetails.balance > 0" class="width100 bg-danger b0" style="padding:24px;">
            <i class="ion-android-cart font18"></i> ADD TO CART
          </button>
          <div class="bg-grey text-center" style="padding:24px;" ng-show="productDetails.balance <= 0">OUT OF STOCK</div>
        </div>
      </div>
    </form>

    <div class="row detail-page mt20">
      <div class="col">
        <img src="img/default/red_bottle.png"/>
        <span class="text-detail">YEAR</span>
        <span class="text-detail2">{{productDetails.year}}</span>
        <img src="img/default/red_bottle.png"/>
        <span class="text-detail">ALCOHOL</span>
        <span class="text-detail2">{{productDetails.alcohol}}%</span>
        <img src="img/default/red_bottle.png"/>
        <span class="text-detail">SIZE</span>
        <span class="text-detail2">{{productDetails.size}}</span>
      </div>
      <div class="col">
        <img src="img/default/red_bottle.png"/>
        <span class="text-detail">TYPE</span>
        <span class="text-detail2">{{productDetails.type_name}}</span>
        <img src="img/default/red_bottle.png"/>
        <span class="text-detail">ORIGIN</span>
        <span class="text-detail2">{{productDetails.country_name}}</span>
        <img src="img/default/red_bottle.png"/>
        <span class="text-detail">SKU CODE</span>
        <span class="text-detail2">{{productDetails.sku_code}}</span>
      </div>
    </div>

    <h4 class="bg-default m0 mt20 p10 text-center">DESCRIPTION</h4>
    <div class="row text-justify p10">
      <div ng-bind-html="productDetails.note"></div>
    </div>


  </ion-content>
</ion-view>