<ion-view view-title="Member Profile">
  <ion-content ng-controller="user">
    
  		<form>
		    	<!-- Shipping information of guest info  -->
				<div class="card">
					<div class="item item-divider font-medium">
						Profile Details
					</div>
					<div class="item item-text-wrap">
						<div class="row">
							<input type="text" class="ml5" placeholder="Username">
						</div>
						<div class="row">
							<input type="text" class="ml5"  placeholder="Email">
						</div>
						<div class="row">
							<div class="col col-50">
								<input type="text" placeholder="First Name">
							</div>
							<div class="col col-50">
								<input type="text" placeholder="Last Name">
							</div>
						</div>
						<div class="row">
							<input type="text" class="ml5" placeholder="Phone Number">
						</div>
						<div class="row">
							<input type="text" class="ml5"  placeholder="Street Address 1">
						</div>
						<div class="row">
							<input type="text" class="ml5"  placeholder="Street Address 2">
						</div>
						<div class="row">
							<div class="col col-50">
								<input type="text" placeholder="City">
							</div>
							<div class="col col-50">
								<input type="text" placeholder="Zip">
							</div>
						</div> 
					</div>
				</div>
				<!-- End of shipping detail -->

				<div class="row">
					<div class="col">
						<a class="button btn-block btnContinue font-medium">
						  Cancel
						</a>
					</div>
					
					<div class="col">
						<a class="button btn-block btnCheckOut font-medium">
						  Save
						</a>
					</div>
				</div>
			</form>

  </ion-content>
</ion-view>
