<ion-view view-title="Member Profile">
  	<ion-content ng-controller="user">
    
		<form ng-submit="ProfileForm(userdata)" name="profileform" class="form">
			<input type="hidden" ng-model="userdata.id_UserMaster"/>
			<div class="card border m0">
				<div class="item item-divider font-medium">
					Profile Details
				</div>
				<div class="item item-text-wrap">
					<div class="row">
						<label class="item item-input">
							<span class="input-label font14">Referral Code:</span>
							<input type="text" ng-keyup="promotion(userdata.referral_code)" ng-model="userdata.referral_code" placeholder="Referral Code">
							<div class="font-small">
								<div class="assertive" ng-if="details.code == null"><i class="ion-close"></i></div>
								<div class="balanced" ng-if="details.code != null"><i class="ion-checkmark"></i></div>
							</div> 
						</label>
					</div>
					<div class="row">
						<div class="col col-50">
							<input type="text" ng-model="userdata.given_name" placeholder="First Name">
						</div>
						<div class="col col-50">
							<input type="text" ng-model="userdata.family_name" placeholder="Last Name">
						</div>
					</div>
					<div class="row">
						<div class="col col-50">
							<input type="text" ng-model="userdata.email" placeholder="Email" disabled>
						</div>
						<div class="col col-50">
							<input type="text" ng-model="userdata.phone" placeholder="Phone Number" name="phone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
							<div class="assertive font-small" ng-messages="profileform.phone.$error">
								<div ng-message="pattern">invalid phone number</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-50">
							<input type="text" ng-model="userdata.address1" placeholder="Street Address 1">
						</div>
						<div class="col col-50">
						<input type="text" ng-model="userdata.address2"  placeholder="Street Address 2">
						</div>
					</div>
					<div class="row">
						<div class="col col-50">
							<input type="text" ng-model="userdata.city" placeholder="City">
						</div>
						<div class="col col-50">
							<input type="text" ng-model="userdata.postcode" placeholder="Postcode/Zip">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="button button-full button-positive">Save</button>
			</div>
		</form>

  	</ion-content>
</ion-view>
