<ion-view view-title="Search">
  <ion-content ng-controller="search">
	
	<div class="container-fluid">
		<!-- First row for search -->
		<div class="row">
			<div class="col col-100">
				<!-- Search -->
				<div class="list">
					<label class="item item-input">
						<i class="icon ion-search placeholder-icon"></i>
						<input type="text" placeholder="Search" ng-model="query">
					</label>
				</div>		
			</div>	
		</div>
		<!-- New row for listing -->
		<div class="row">
			<div class="col col-100">
				<ul class="list">
				    <!-- <li class="item" ng-repeat="productInfo in productList | filter:query"> -->
				      	<div class="row" ng-repeat="productInfo in productList" ng-if="$index % 2 == 0">
					    	<a class="col col-50" ng-if="$index < productList.length" 
					    	ng-href="#/app/product/details/{{productList[$index].sku_code}}">
							  	<div class="sbox center">
								  	<img ng-src="{{img}}{{productList[$index].photo}}" width="100%">
								  	<p class="ellipsis p10">{{productList[$index].name}}</p>
								  	<p class="default-bg p10">MYR {{productList[$index].price}}</p>
							  	</div>
						  	</a>
						  	<a class="col col-50" ng-if="$index < productList.length" 
						  	ng-href="#/app/product/details/{{productList[$index+1].sku_code}}">
							  	<div class="sbox center">
								  	<img ng-src="{{img}}{{productList[$index+1].photo}}" width="100%">
								  	<p class="ellipsis p10">{{productList[$index+1].name}}</p>
								  	<p class="default-bg p10">MYR {{productList[$index+1].price}}</p>
							  	</div>
						  	</a>
						</div>
				    <!-- </li> -->
		  		</ul>
			</div>
		</div>
	</div> <!-- End of container-->

  </ion-content>
</ion-view>