<ion-view view-title="Shipping Methods">
	<!-- tabs -->
	<ion-tabs class="tabs-icon-only tabs-main">
		
		<!-- tab -->
		<ion-tab title="DELIVERY" class="bg" style="background-image: url('img/bg/billing.png')">
			<ion-content>
                <div ng-include src="'templates/includes/delivery.html'"></div>
			</ion-content>
		</ion-tab>

		<!-- tab -->
		<ion-tab title="SELF PICKUP">
			<ion-content class="bg" style="background-image: url('img/bg/billing.png')">
		  		<div ng-include src="'templates/includes/selfpickup.html'"></div>
			</ion-content>
		</ion-tab>

	</ion-tabs>
</ion-view>