<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.w1n33652943" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Vega Beverages</name>
  <description>
  Vega Beverages is the app where you can look for the best wine in town. Order from us and we will deliver them to your doorsteps.
  We offer wines, whiskey, cognac, brandy, and many other kind of alcohol.
  </description>
  <author email="endytas@wine-enterprise.com" href="endytas@wine-enterprise.com">
  Find Wine Trading
  </author>

  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>