<form name="loginForm" ng-submit="loginUser(userdata)" novalidate>
	<!-- Login form -->
	<div class="list">
	    <!-- Remove Picture  -->
	    <!-- <div class="center">
	      <img class="cartImg mb20 mt20" ng-src="{{loginData.src}}">
	    </div> -->

	  <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : loginForm.username.$invalid, 'no-errors' : loginForm.username.$valid}">
	    <i class="icon ion-android-person"></i>
	    <span class="input-label ml30 font-small">Email</span>
	    <input type="email" name="username" ng-model="userdata.username" required style="border:0px;">
	  </label>

	  <!-- Error message for username -->
	  <div class="error-container" ng-show="loginForm.username.$error" 
	      ng-messages="loginForm.username.$error">
	      <div ng-messages-include="error-list.html"></div>
	      <div ng-message="email" style="color:red;">invalid email*</div>
	  </div>


	  <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : loginForm.password.$invalid, 'no-errors' : loginForm.password.$valid}">
	    <i class="icon ion-locked"></i>
	    <span class="input-label ml30 font-small">Password</span>
	    <input type="password" name="password" ng-model="userdata.password" required >
	    <!-- <input type="text" ng-model="name"> -->
	  </label>

	  <!-- Error message for password -->
	  <div class="error-container" ng-show="loginForm.password.$error" 
	      ng-messages="loginForm.password.$error">
	      <div ng-messages-include="error-list.html"></div>
	  </div>

	  <label class="item bg-blank b0 text-center">
	    <button type="submit" class="button btn-main width50 font-medium"
	    ng-disabled="loginForm.$invalid">Log in</button>
	  </label>
	</div>
</form>
<div class="row" ng-controller="user">
    <div class="col">
      <a class="button button-clear font-small" ng-click="showPopup()">Forgot password?</a>
    </div>
</div>
<!-- Place forgot password outside form -->