/*============= LOGIN ===============*/
.ml30 {
	margin-left: 30px !important;
}

.mt50 {
	margin-top: 50px !important;
}

i.icon.ion-locked, i.icon.ion-android-person  {
	font-size: 25px;
}

/*========= PRODUCT DETAIL ======*/
.font-small {
	font-size: 12px;
	font-weight: 500;
}

.font-big {
	font-size: 20px;
	font-weight: bold;
}

.table-header {
	border: 1px solid none;
	background-color: #FFAD33; 
	color: #fff;
}

.table-content {
	border: 1px solid none;
	background-color: #F1F1F1; 
}
