/* common */
a, p{ 
    text-decoration: none;
    color: #666;
}
.pull-left{ float:left !important; }
.pull-right{ float:right !important; }

/* background */
.bg-danger{ 
    background: #e74c3c; 
    color: #fff;
}
.bg-info{ 
    background: #3498db; 
    color: #fff;
}
.bg-success{ 
    background: #2ecc71; 
    color: #fff;
}
.bg-warning{ 
    background: #f1c40f; 
    color: #fff;
}
.bg-default{ 
    background: #ecf0f1; 
    color: #34495e;
}
.bg-orange{ 
    background: #e67e22; 
    color: #34495e;
}
.bg-white{ 
    background: #fff; 
    color: #34495e;
}

/* text */
.text-danger{ color: #e74c3c !important; }
.text-info{ color: #3498db !important; }
.text-success{ color: #2ecc71 !important; }
.text-warning{ color: #f1c40f !important; }
.text-default{ color: #34495e !important; }
.text-white{ color: #fff !important; }

/* border */
.b0{ border: 0px !important; }
.border{ border: 1px solid #34495e !important; }
.border-top{ border-top: 1px solid #ddd; }
.border-bottom{ border-bottom: 1px solid #ddd; }
.border-left{ border-left: 1px solid #ddd; }
.border-right{ border-right: 1px solid #ddd; }

/* button */
.curve-box{
    border-radius: 5px !important;
    overflow: hidden;
}
.btn-danger{
    background: #e74c3c;
    border: 1px solid #e74c3c;
    color: white;
    border-radius: 5px;
}
.btn-info{
    background: #3498db;
    border: 1px solid #3498db;
    color: white;
    border-radius: 5px;
}
.btn-success{
    background: #2ecc71;
    border: 1px solid #2ecc71;
    color: white;
    border-radius: 5px;
}
.btn-warning{
    background: #f1c40f;
    border: 1px solid #f1c40f;
    color: white;
    border-radius: 5px;
}
.btn-default{
    background: #ecf0f1;
    border: 1px solid #ecf0f1;
    color: #34495e;
    border-radius: 5px;
}
.btn-white{
    background: white;
    border: 1px solid white;
    color: #34495e;
    border-radius: 5px;
}

/* size control */
.width100{ width: 100% !important; }
.width50{ width: 50% !important; }
.widthauto{ width: auto !important; }
.height100{ height: 100% !important; }
.height50{ height: 50% !important; }
.heightauto{ height: auto !important; }

.top0{ top: 0 !important; }
.bottom0{ bottom: 0 !important; }
.left0{ left: 0 !important; }
.right0{ right: 0 !important; }

.vertical-middle{ vertical-align: middle; }

.inline #item{
    display: inline-block;
}

/* layer */
.text-overlay{
    position: absolute;
    top: 144px;
    width: 50%;
    background: rgba(0, 0, 0, 0.65);
    color: white !important;
    padding: 5px;
    text-align: center;
}

/* ionic original edited*/
.bar-header{
    background: #e74c3c !important;
}
.form input[type="text"], .form input[type="email"] {
  border-bottom: 1px solid #ddd;
}



/*a{
    text-decoration: none;
    color: #781702;
}*/
/*.center{
	text-align: center;
}*/
.default-bg{
	background: #781702;
	color: #fff;
}
.bgWhite{ background: #ffffff; }


.grey{
    color: #666 !important;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

.sbox{
	border: 1px solid #666;
    background: white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.b1{
    border: 1px solid #ddd;
}