/***

main:
#770a18

sub:
#f4b4bd

sub2:
#ad213e

***/
/*--------------------- ionic ---------------------*/
.bar-header{
    background: #770a18 !important;
}
.header-item, button{
    text-transform: uppercase;
}
.item-content{
    background: transparent !important;
    text-transform: uppercase;
}

/*--------------------- common ---------------------*/
body, div, h1, h2, h3, h4, a, p, button{
    font-family: Footlight MT Light !important;
}

a, p{ 
    text-decoration: none;
    color: #666;
}
.pull-left{ float:left !important; }
.pull-right{ float:right !important; }

/*--------------------- tabs ---------------------*/
.tabs-main .tabs{
    background: #770a18;
    color: white;
    border: 0px;
}
.tabs-main .tabs span{
    font-size: 20px;
}
.tabs-main .tabs .tab-item.tab-item-active{
    border-width: 0 0 5px 0 !important;
    border-color: #f4b4bd;
}
.tabs-main ion-content{
    margin-top: 87px;
}

.tabs-sub2 .tabs{
    background: #ad213e;
    color: white;
    border: 0px;
}
.tabs-sub2 .tabs span{
    font-size: 20px;
}
.tabs-sub2 .tabs .tab-item.tab-item-active{
    border-width: 0 0 5px 0 !important;
    border-color: white;
}
.tabs-sub2 ion-content{
    margin-top: 87px;
}


/*--------------------- image ---------------------*/
.img-small{
    height: 50px;
}

/*--------------------- text ---------------------*/
.text-big{
    font-size: 20px;
}

.text-ultra{
    font-size: 30px;
}

.text-main{
    color: #770a18 !important;
}
.text-sub{
    color: #f4b4bd !important;
}

/*.text-center{
    text-align: center;
} font css have le*/ 

.text-overlay{
    position: absolute;
    margin-top: 65px;
    padding: 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    text-transform: lowercase;
}
.text-overlay:first-letter{
    text-transform: uppercase;
}


/*--------------------- background ---------------------*/
.bg{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.bg-white{
    background: white;
    color: #2c2c2c;
}

.bg-grey{
    background: #2c2c2c;
    color: white !important;
}

.bg-sub{
    background: #f4b4bd;
    color: #770a18;
}

.bg-blank{
    background: transparent !important;
}

/*--------------------- input ---------------------*/
.input-line{
    border-bottom: 2px solid white !important;
    background: transparent;
}

.input-search{
    margin: 0 auto;
    width: 60%;
    color: white !important;
    text-align: center;
}

.input-box{
    border: 1px solid #666 !important;
    background-color: white !important;
    text-align: center !important;
}

/*--------------------- button ---------------------*/
.btn-blank{
    border: 0px !important;
    background: transparent !important;
    color: #666;
}
.btn-white{
    background: white;
    border: 1px solid white;
    color: #770a18;
}
.btn-search{
    margin: 0 auto;
    width: 60%;
}

.btn-main{
    border-radius: 0px;
    border: 0px;
    background: #770a18;
    color: #f4b4bd;
}

.btn-sub{
    border-radius: 0px;
    border: 0px;
    background: #f4b4bd;
    color: #770a18;
}

/*--------------------- Page ---------------------*/
.detail-page img{
    width: 100%;
    padding: 10px;
}
.text-detail{
    position: absolute;
    margin-top: -83px;
    margin-left: 25px;
    font-size: 18px;
    color: #f4b4bd;
}
.text-detail2{
    position: absolute;
    margin-top: -47px;
    margin-left: 33px;
    font-size: 15px;
    color: white;
}

.history-icon{
    position: absolute;
    margin-top: -44px;
    right: 15px;
    font-size: 20px;
}


/*--------------------- Unconfirm ---------------------*/
/* background */
.bg-danger{ 
    background: #770a18; 
    color: #fff;
}
.bg-info{ 
    background: #3498db; 
    color: #fff;
}
.bg-success{ 
    background: #2ecc71; 
    color: #fff;
}
.bg-warning{ 
    background: #f1c40f; 
    color: #fff;
}
.bg-default{ 
    background: #ecf0f1; 
    color: #34495e;
}
.bg-orange{ 
    background: #e67e22; 
    color: #34495e;
}
.bg-white{ 
    background: #fff; 
    color: #34495e;
}

/* text */
.text-danger{ color: #770a18 !important; }
.text-info{ color: #3498db !important; }
.text-success{ color: #2ecc71 !important; }
.text-warning{ color: #f1c40f !important; }
.text-default{ color: #34495e !important; }
.text-white{ color: #fff !important; }

/* border */
.border-color{ border-color: #770a18 !important; }
.border-grey{ border-color: #2c2c2c !important;  }
.border-white{ border-color: white !important; }
.b0{ border: 0px !important;}
.border{ border: 1px solid #34495e !important; }
.border-top{ border-top: 1px solid #ddd; }
.border-bottom{ border-bottom: 1px solid #ddd; }
.border-left{ border-left: 1px solid #ddd; }
.border-right{ border-right: 1px solid #ddd; }

/* button */
.curve-box{
    border-radius: 10px !important;
    overflow: hidden;
}
.btn-danger{
    background: #770a18;
    border: 1px solid #770a18;
    color: white;
    border-radius: 5px;
}
.btn-info{
    background: #3498db;
    border: 1px solid #3498db;
    color: white;
    border-radius: 5px;
}
.btn-success{
    background: #2ecc71;
    border: 1px solid #2ecc71;
    color: white;
    border-radius: 5px;
}
.btn-warning{
    background: #f1c40f;
    border: 1px solid #f1c40f;
    color: white;
    border-radius: 5px;
}
.btn-default{
    background: #ecf0f1;
    border: 1px solid #ecf0f1;
    color: #34495e;
    border-radius: 5px;
}


/* size control */
.width100{ width: 100% !important; }
.width50{ width: 50% !important; }
.widthauto{ width: auto !important; }
.height100{ height: 100% !important; }
.height50{ height: 50% !important; }
.heightauto{ height: auto !important; }

.top0{ top: 0 !important; }
.bottom0{ bottom: 0 !important; }
.left0{ left: 0 !important; }
.right0{ right: 0 !important; }

.vertical-middle{ vertical-align: middle; }

.inline #item{
    display: inline-block;
}

/* layer */
/*.text-overlay{
    position: absolute;
    top: 144px;
    width: 50%;
    background: rgba(0, 0, 0, 0.65);
    color: white !important;
    padding: 5px;
    text-align: center;
}*/

/* ionic original edited*/

.form input[type="text"], .form input[type="email"] {
  border-bottom: 1px solid #ddd;
}



/*a{
    text-decoration: none;
    color: #781702;
}*/
/*.center{
	text-align: center;
}*/
.default-bg{
	background: #781702;
	color: #fff;
}
.bgWhite{ background: #ffffff; }


.grey{
    color: #666 !important;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

.sbox{
	border: 1px solid #666;
    background: white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.b1{
    border: 1px solid #ddd;
}